<div class="flex flex-col items-center text-center">
    <img type="png" src="../../../../../assets/icons/koolbool.png">
    <div *ngIf="isLoading">
        <app-spinner></app-spinner>
    </div>
    <div *ngIf="error">
        <p>{{ error }}</p>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!isLoading" class="w-2/3">
        <app-input-field
            class="w-full"
            labelText="Email"
            labelName="Email"
            name="email"
            type="email"
            [control]="$any(form.get('email'))"
            [required]="true"
        ></app-input-field>
        <app-input-field
            class="w-full"
            labelText="Password"
            labelName="Password"
            name="password"
            type="password"
            [control]="$any(form.get('password'))"
        ></app-input-field>
        <app-input-field
            class="w-full"
            *ngIf="isSignUp"
            labelText="Confirm password"
            labelName="Confirm Password"
            name="confirmPassword"
            type="password"
            [control]="$any(form.get('confirmPassword'))"
        ></app-input-field>
        <app-button
            class="w-full"
            [message]="isSignUp === false ? 'Login' : 'Sign Up'"
            [disabled]="!form.valid ? true : false"
        ></app-button>
    </form>
    <div *ngIf="isSignUp">Have an account? click <a [routerLink]="['/auth/login']" class="underline">here</a> to sign in</div>
    <div *ngIf="!isSignUp">Don't have an account? Click <a [routerLink]="['/auth/register']" class="underline">here</a> to sign up</div>
    <div *ngIf="!isSignUp"><a [routerLink]="['/auth/forgot-password']">Forgot password</a></div>
</div>