<img type="png" src="../../../../../assets/icons/koolbool.png">
<form>
    <label>
        Username
        <input type="text">
    </label>
    <label>
        Password
        <input type="password">
    </label>
    <label *ngIf="isSignUp">
        Repeat password
        <input type="password">
    </label>
    <app-button [message]="isSignUp === false ? 'Login' : 'Sign Up'"></app-button>
</form>
<div *ngIf="isSignUp">Have an account? click <a [routerLink]="['/auth/login']" class="underline">here</a> to sign in</div>
<div *ngIf="!isSignUp">Don't have an account? Click <a [routerLink]="['/auth/register']" class="underline">here</a> to sign up</div>
<div *ngIf="!isSignUp"><a [routerLink]="['/auth/forgot-password']">Forgot password</a></div>