<div class="h-screen w-full relative flex flex-col text-white overflow-hidden">
  <img
    class="h-full max-w-none absolute -translate-x-1/3 brightness-75"
    src="../../../../../assets/images/child-with-book-image.jpg"
  >
  <h1 class="relative mx-auto font-semibold mt-12 text-3xl">KOOBOOL</h1>
  <div class="absolute bottom-24 text-center px-8">
    <h1 class="font-semibold">Rate your favourite books</h1>
    <p class="my-2">All your favourite books in one place, rate any book, staying at home, on travelling, or anywhere else.</p>
    <app-button 
      [routerLink]="['/auth/login']"
      [message]="'Get Started'"
    >Get Started</app-button>
  </div>
</div>