<div>
  <div class="flex flex-col items-center w-full mb-10">
    <form (ngSubmit)="bookSearch(searchTerm.value)" class="w-5/6 mx-auto">
      <div class="relative rounded-3xl w-full drop-shadow-2xl">
        <img class="absolute left-3 top-1/2 -translate-y-1/2" src="../../../../../assets/icons/search.svg">
        <input
          type="text" 
          class="rounded-3xl p-2 w-full pl-10"
          placeholder="Search books..."
          #searchTerm
        >
      </div>
      
      <!-- <app-button [message]="'Find'" type="Submit"></app-button> -->
    </form>
  </div>
  <ng-container *ngIf="searchedBook">
    <div *ngIf="searchedBook.length === 0">
      Please make sure you type the book name correctly capital letters matter!
    </div>
    <div class="w-5/6 mx-auto">
      <app-book-display
        *ngFor="let book of searchedBook"
        class="w-2/5 m-2 cursor-pointer"
        [src]="book.bookimgurl"
        [name]="book.bookname"
        [routerLink]="['/dashboard/book/', book.id]"
      ></app-book-display>
    </div>
  </ng-container>

  <div class="w-5/6 mx-auto">
    <ng-container *ngIf="!searchedBook">
      <ng-container *ngIf="books | async as booksList">
        <div class="flex flex-wrap justify-between">
          <app-book-display
            *ngFor="let book of booksList"
            class="w-2/5 m-2 cursor-pointer"
            [src]="book.bookimgurl"
            [name]="book.bookname"
            [routerLink]="['/dashboard/book/', book.id]"
          ></app-book-display>
        </div>
        <button (click)="getNextBooks()">Get next books</button>
      </ng-container>
    </ng-container>
  </div>
</div>
