<!-- <p>add-book works!</p>
<h1>Add the book</h1>
<div class="book-image">
  <img alt="Can't show image" width="150" height="150" [src]="'#'" /> -->
  <!---->
  <!-- <button (click)="upload.click()">
    Upload Book Image
  </button>
  <input #upload type="file" hidden (change)="uploadImage($event)">
</div> -->


<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <app-input-field
    class="w-full"
    labelText="Book Name"
    labelName="bookname"
    name="bookname"
    type="text"
    [control]="$any(form.get('bookname'))"
  ></app-input-field>

  <app-input-field
    class="w-full"
    labelText="Description"
    labelName="description"
    name="description"
    type="text"
    [control]="$any(form.get('description'))"
  ></app-input-field>

  <app-input-field
    class="w-full"
    labelText="Book Url"
    labelName="bookurl"
    name="bookurl"
    type="text"
    [control]="$any(form.get('bookurl'))"
  ></app-input-field>

  <div>
    <label>
      <span>Select categories:</span>
      <select [formControl]="$any(form.get('categories'))" multiple>
        <option *ngFor="let genre of genres" [value]="genre">
          {{ genre }}
        </option>
      </select>
    </label>
    <div>
      <p>You selected: <span>{{ form.controls.categories.value }}</span></p>
    </div>
  </div>

  <div formArrayName="authors">
    <div *ngFor="let author of form.controls.authors.value; let i = index; trackBy: trackByFn">
      Author {{ i+1 }} <input type="text" [formControlName]="i">
    </div>
    <button type="button" (click)="addAuthor()">Add Author</button>
  </div>
  
  <app-button [message]="'Add Book'" [disabled]="!form.valid"></app-button>
</form>